@{
    ViewBag.Title = "Library";
}
<body style="background-color: #778899; ">
    <div class="row" style="background-color: #e6f9ff; border:1px solid;">
        <div class="col-lg-7 ">
            <div align="center">
                <div class="jumbotron" style="background-color: #e6f9ff; padding-right:20px;">
                    <h1 style="font-weight: 600; color: darkgreen; ">World Library</h1>
                    <p class="lead">Get yourself Register & borrow Books.</p>
                    <p><a href="@Url.Action("Create", "Customer")" class="btn btn-danger btn-lg">Register &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 ">
            <div align="left">
                <img style="height:265px;width:200px; padding-top:65px; padding-left:10px; "
                     src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f416da27-6d39-4f69-9774-51542a594a98/d88sr5c-9e2dc95c-0f04-43d6-9816-2e225e745af2.png/v1/fill/w_1024,h_1349,strp/books_png_by_violettalestrange_d88sr5c-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM0OSIsInBhdGgiOiJcL2ZcL2Y0MTZkYTI3LTZkMzktNGY2OS05Nzc0LTUxNTQyYTU5NGE5OFwvZDg4c3I1Yy05ZTJkYzk1Yy0wZjA0LTQzZDYtOTgxNi0yZTIyNWU3NDVhZjIucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.SvN9SxH3bScwrSJTVPzOteUtNekHPF9GwPBOebbdSkI">
            </div>
        </div>
    </div>

            @*<div class="row">
            <div class="col-md-4">
                <h2 style="font-weight: 600; color: #001a09; ">Getting started</h2>
                <p style="font-weight:500;">
                    At first Register yourself or just Login if you already Registered.
                </p>
                <p><a class="btn btn-md btn-success" href="@Url.Action("Create", "Customer")">Register &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="font-weight: 600; color: #001a09; ">Customer History</h2>
                <p>If you passionate about books and want to know more or add yours. Dont worry check History</p>
                <p><a class="btn btn-md btn-danger" href="@Url.Action("Index", "Borrow")">Borrow History &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="font-weight: 600; color: #001a09; ">We are hiring</h2>
                <p>
                    If you like to challenge yourself be a Librarian Today.
                    And be a librarian Now
                </p>
                <p><a class="btn btn-md btn-warning" href="@Url.Action("Create", "Admin")">Join Us &raquo;</a></p>
            </div>
        </div>*@
</body>
</br>
</br>